<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/semidespejado.png">
    <title>Sobre</title>
</head>
<body>
    <div class="main-content">
         {{>header}}
        <h2>{{title}}</h2>
        <p>Created by <span>{{name}}</span></p>
        <p>Ésta web ha sido creada empleando <a href="https://mapbox.com/" target="_blank">Mapbox</a> y <a href="https://weatherstack.com/" target="_blank">Weatherstack</a> para la práctica de consulta de APIs y recuperación de datos Json.</p>
                
        <img class="inicio" src="/img/puerto.jpg" alt="">

        
        <iframe src="https://www.youtube.com/embed/--iIhAnbVu0" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </div>


    {{>footer}}
</body>
</html>
