<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/semidespejado.png">
    <title>Ayuda</title>
</head>
<body>
    <div class="main-content">
        <!--Render a partial-->
        {{>header}}
        <p>Escriba aquí su <span>{{helpquest}}</span> y estaremos encantados de responderle lo antes posible</p>
        <input type="text" name="pregunta" id="question" alt="Pregunta: ">
        <button>Enviar</button>
    </div>
   

    {{>footer}}
</body>
</html>
